.DS_Store
node_modules
build
bin
lib
xtext-gen
xtend-gen
src-gen
webpack.config.js
.gradle
.idea
.metadata
xtext-dsl-language-server/argument/model/generated/Argument.ecore
xtext-dsl-language-server/argument/model/generated/Argument.genmodel
xtext-dsl-language-server/argument/src/main/java/argument/ArgumentRuntimeModule.xtend
xtext-dsl-language-server/argument/src/main/java/argument/ArgumentStandaloneSetup.xtend
xtext-dsl-language-server/argument/src/main/java/argument/generator/ArgumentGenerator.xtend
xtext-dsl-language-server/argument/src/main/java/argument/scoping/ArgumentScopeProvider.xtend
xtext-dsl-language-server/argument/src/main/java/argument/validation/ArgumentValidator.xtend
xtext-dsl-language-server/argument.ide/src/main/java/argument/ide/ArgumentIdeModule.xtend
xtext-dsl-language-server/argument.ide/src/main/java/argument/ide/ArgumentIdeSetup.xtend
xtext-dsl-language-server/problem/model/generated/Problem.ecore
xtext-dsl-language-server/problem/model/generated/Problem.genmodel
xtext-dsl-language-server/problem/src/main/java/problem/ProblemRuntimeModule.xtend
xtext-dsl-language-server/problem/src/main/java/problem/ProblemStandaloneSetup.xtend
xtext-dsl-language-server/problem/src/main/java/problem/generator/ProblemGenerator.xtend
xtext-dsl-language-server/problem/src/main/java/problem/scoping/ProblemScopeProvider.xtend
xtext-dsl-language-server/problem/src/main/java/problem/validation/ProblemValidator.xtend
xtext-dsl-language-server/problem.ide/src/main/java/problem/ide/ProblemIdeModule.xtend
xtext-dsl-language-server/problem.ide/src/main/java/problem/ide/ProblemIdeSetup.xtend
